@import "@/colors.scss";

.bookmarks-editor {
  display: grid;
  grid-template-rows: auto auto;

  h1,
  h2,
  h3,
  h4 {
    color: #0072c6;
    font-family: "Segoe UI Light", "Segoe UI", "Segoe", Tahoma, Helvetica, Arial,
      sans-serif;
    margin: 0;
  }

  .editors {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 90vw;

    .editor-column {
      margin-left: 1rem;
      margin-right: 1rem;

      h5 {
        margin-top: 1rem;
        color: gray;
      }
    }

    .danger {
      color: red;
    }
  }

  .footer {
    margin: 1rem;
  }
}
