@import "@/colors.scss";

.add-link-modal {
  margin: 2rem;

  form {
    margin-top: 2rem;
    margin-right: 2rem;
    padding-right: 2rem;
    width: 100%;

    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 5rem auto auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    align-items: center;

    label {
      color: $darkGray;
      font-weight: normal;
      justify-self: left;
    }

    input {
      max-width: 30rem;
    }

    .fa-exclamation-triangle {
      color: red;
    }

    button {
      width: 10rem;
      justify-self: right;
    }
  }

  .footer {
    margin-top: 2rem;
    margin-right: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    align-items: center;
  }
}
